name: Django CI/CD (runserver)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ~/Ostad_batch-09
            source venv/bin/activate
            git pull origin main
            pip install -r requirements.txt
            pkill -f runserver || true
            nohup python manage.py runserver 0.0.0.0:8000 > server.log 2>&1 &
